

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.idea/
.venv/
venv/

